body{
	margin:0px;
	padding:0px; 
    background:#C1FFC1;
}



#topo{
  height:150px; 
  width:1465px;
  background:#9BCD9B;
  padding:0px;
  margin:0px;
}





 #borda {
	background-image:url(jardineiro.png);
	background-position:top;
	width:220px;
	border:2px solid green;
	border-radius:20px 5% 20px 3%;
	height:220px;
	float:left;
	padding:1em;
	margin:1em;
     
	
}

 #texto {
	
	width:900px;
	height:220px;
	float:left-side;
	padding:1em;
	margin:1em;
	float:left;
	margin-bottom:230px;
	color:black;
     
}



