 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Listagem</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/estiloListagem.css" rel="stylesheet">
</head>
<body>
      <div class="team-member">
          <img src="img/1.jpg" class="img-responsive img-circle" alt="">
                <b><p class="p1">Carol Miranda</p></b>
                <p class="p2">Web Designer</p>
                <p class="p3">Vila Velha</p>
      </div>
</body>
</html>