<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>Cadastro</title>
        <meta charset="UTF-8">

        <!--/////IMPORTAÇÕES/////-->
        <link rel="stylesheet" href="css/normalizandoLogin.css">
        <link rel="stylesheet" href="css/loginCadastroContato.css">
        <!--/////IMPORTAÇÕES ACABA AQUI/////-->


    </head>

<body>

	  <div class="formulario">

	 	    <ul class="botaoFormulario">

        	<li class="tab activePro"><a href="#cadProfissional">CADASTRO PROFISSIONAL</a></li>
        	<li class="tab active"><a href="#cadUsuario">CADASTRO USUÁRIO</a></li>

      	</ul>

        <div class="botaoFormulario">
  

      	<!-- /////CADASTRO PROFISSIONAL////// -->


       <div id="cadProfissional"> 
          <h1>Cadastro Profissional</h1>
          
          <form action="/" method="post">
          
          <div class="barLado-Lado">
            <div class="barCadastro">
              <label>
                Nome<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="barCadastro">
              <label>
                Sobrenome<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
          
          <div class="barLado-Lado">
          <div class="barCadastro">
            <label>
              CPF<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="barCadastro">
            <label>
              CNPJ<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          </div>

          <div class="barCadastro">
            <label>
              Razão Social<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="barCadastro">
            <label>
              Endereço<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="barCadastro">
            <label>
              Telefone<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="barCadastro">
            <label>
              Profissão<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="barCadastro">
            <label>
              Registro Profissional<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="barCadastro">
            <label>
              E-mail<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="barCadastro">
            <label>
              Senha<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <center><button type="submit" class="botaoCad botaoCad-bloqueioCad"/>Salvar</button></center>
          
          </form>

        </div>   
        <!-- /////AQUI FINALIZA O CADASTRO PROFISSIONAL////// -->



        <!-- /////CADASTRO USUÁRIO////// -->


        <div id="cadUsuario">   
          <h1>Cadastro Usuário</h1>
          
          <form action="/" method="post">
          
          <div class="barLado-Lado">
            <div class="barCadastro">
              <label>
                Nome<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="barCadastro">
              <label>
                Sobrenome<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="barCadastro">
            <label>
              E-mail<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="barCadastro">
            <label>
              Senha<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <center><button type="submit" class="botaoCad botaoCad-bloqueioCad"/>Salvar</button></center>
          
          </form>

        </div>
        <!-- /////AQUI FINALIZA O CADASTRO USUARIO////// -->

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

</body>