<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>ServJobs</title>
        <meta charset="UTF-8">

        <!--/////IMPORTAÇÕES/////-->
        <link href="css/principal.css" rel="stylesheet" />
        <link href="css/font-awesome.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <!--/////IMPORTAÇÕES ACABA AQUI/////-->

    </head>
 
<body>

      <!--/////////////CABEÇALHO/////////////-->
      <div>
      <header>
      <nav>
           <!--******ESPAÇO PARA A LOGOTIPO******-->
            <span id="logotipo">
                    <img src="img/servlogo.png" width="100px" height="108px">
            </span>
           <!--******ESPAÇO PARA A LOGOTIPO ACABA AQUI*****-->

      <ul>
                              
           <li><a href="login.html"><span class="#"></span><br>LOGIN</a></li>
           <li><a href="contato.html"><span class="#"></span><br>CONTATO</a></li>
           <li><a href="#"><span class="#"></span><br>PESQUISA</a></li>
           <li><a href="#"><span class="#"></span><br>COMO FUNCIONA</a></li>
           <li><a href="#"><span class="#"></span><br>HOME</a></li>     
      </ul>

      </nav>
      </header>
      </div>
	  <br><br><br><br> 
      <!--/////////////CABEÇALHO ACABA AQUI/////////////-->




      <!--/////////////SEÇÃO DE IMAGEM PARA SLIDE/////////////-->
      <div id="slide">
      <section>
            
            <center><img src="img/comofunciona.png"><center>
            <div class="msgBanner">


      </section>
      </div>
      <!--/////////////AQUI FINALIZA A SEÇÃO DE IMAGEM PARA SLIDE/////////////-->



      
      <!--/////////////RODAPÉ/////////////-->
      <div>
      <footer id="rodape">

            <p><br><br><br>Copyrigth &copy; 2016 - ServJobs
            <a href="#" target="_blank">&nbsp Facebook</a>
            <a href="#" target="_blank">&nbsp Twitter</a>  

      </footer>
      </div>
      <!--/////////////RODAPÉ ACABA AQUI/////////////-->




</body>

</html>