<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>Contato</title>
        <meta charset="UTF-8">

        <!--/////IMPORTAÇÕES/////-->
        <link rel="stylesheet" href="css/normalizandoLogin.css">
        <link rel="stylesheet" href="css/loginCadastroContato.css">
        <!--/////IMPORTAÇÕES ACABA AQUI/////-->

    </head>
   
<body>

      <div class="formulario">
        <div id="contato">
          <h1>Contato</h1>

            <form action="/" method="post">

                      <div class="barContato">
                        <input type="name"required autocomplete="off" placeholder="Nome" />
                      </div>

                      <div class="barContato">
                          <input type="email"required autocomplete="off" placeholder="E-mail" />
                      </div>

                      <div class="barContato">
                            <textarea type="text"required autocomplete="off" rows="5" placeholder="Comentário"></textarea>
                      </div>     

                        <center><button class="botaoCont botaoCont-bloqueioCont"/>Enviar</button></center>
            </form>

        </div>
      </div>

</body>
</html>