<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>Login</title>
        <meta charset="UTF-8">

        <!--/////IMPORTAÇÕES/////-->
        <link rel="stylesheet" href="css/normalizandoLogin.css">
        <link rel="stylesheet" href="css/loginCadastroContato.css">
        <!--/////IMPORTAÇÕES ACABA AQUI/////-->

    </head>
   
<body>

      <div class="formulario">
        <div id="login">   
          <h1>Bem vindo !</h1>

            <form action="/" method="post">

                      <div class="barLogin">
                    <input type="email"required autocomplete="off" placeholder="E-mail" />
                      </div> 

                      <div class="barLogin">
                    <input type="password"required autocomplete="off" placeholder="Senha" />
                      </div>     

                        <p class="esqueceuSenha"><a href="#">Esqueceu sua senha?</a></p>
                        <center><button class="botaoLog botaoLog-bloqueioLog"/>Login</button></center><br>
            </form>

                        <center><button class="botaoCad botaoCad-bloqueioCad"/><a href="cadastro.html">Cadastrar</a></button></center>

        </div>
      </div>

</body>
</html>